<html>
<head>
<link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="47x47"> 
<title>{{ title }}</title>
</head>
<body>
	<div>
	Hello {{ name }}!
	</div>
	<footer>
		<script type="text/javascript" src="/assets/js/app_main.js"></script>
	</footer>
</body>
</html>